/*
* NGUYEN NGUYEN 2016 version 1.0
*/

/* Declare variables here*/
$px: 10px;
$no_border: 0px !important;
$white_color: #fff;
/*----Common css----*/
.glyphicon-trash, .glyphicon-remove
{
	top: 3px !important;
	left: -1px;
}
.glyphicon-expand
{
	top:2px !important;
	right: -1px;
}
.form-control
{
	border-radius:$no_border;
}
.modal-content
{
	border-radius:$no_border;
}

/****************************** Dr page CSS *****************************************/
.patient_list
{
	border: 1px solid #eee;
	background: $white_color;
}

.patient_list
{
	.list_header
	{
		background: #337ab7;
		border-right: 2px solid $white_color;
		font-size: 18px;
		color: $white_color;
		padding: 10px;
		cursor: pointer;
	}
	.list_header_last_item
	{
		border-right:none !important;
		cursor: default;
	}
	.list_item
	{
		border-right: 2px solid $white_color;
		line-height: 3;
		font-size: 16px;
	}
	.list_row
	{
		&:hover
		{
			background:#ccc !important;
		}
		.list_row_btn
		{
			vertical-align: -webkit-baseline-middle;
			margin-top: 6px;
		}
	}
	.list_row:nth-child(odd)
	{
		background: #EFEFEF;
	}
	.control_btn
	{
		border-radius:$no_border;
		font-size: 16px;
		width: 110px;
	}
	.list_btn
	{
		border-radius:$no_border;
		font-size: 24px;
		padding: 0px 6px;
	}
	.patient_list_control
	{
		margin-top: $px;
        margin-bottom: $px;
	}
}

.add_new_patient
{
	.add_patient_btn
	{
		height: 54px;
        font-size: 23px;
	}
}

/*---Patient modal css ----*/
.patient_detail
{
	.add_btn_note
	{
		width: 100%;
		height: 54px;
		float: left;
	}
	.note_item
	{
		position: relative;
		word-wrap: break-word;
		.delete_btn_note, .delete_btn_note_confirm, .delete_btn_note_cancel
		{
			display: none;
			position:absolute;
			background: #ccc;
			float: right;
			top: 0;
			right: 0;
			color:#d9534f;
			font-size:18px;
			padding: 5px;
			min-width: 30px;
	    }
	    .delete_btn_note_confirm
	    {
	    	right: 30px;
	    }
	    .delete_btn_note_cancel
	    {
	    	right: 0;
	    }
	    .delete_btn_note
	    {
	    	right: 0;
	    	opacity: 0.6;
	    }
		&:hover
		{
			.delete_btn_note, .delete_btn_note_confirm, .delete_btn_note_cancel
			{
				display: block;
			}
		}
	}
	.item_detail
	{
		font-size: 18px;
	}
	.note_detail_content
	{
		font-size: 16px;
	}
	.note_detail_date
	{
		font-size: 12px;
        color: #AAA;
	}
	.patient_notes_container
	{
		max-height: 300px;
		min-height: 300px;
		overflow-y: auto;
		padding: 16px;
	}
	.well
	{
		border-radius:$no_border;
	}

}

/*----filter row css ----*/
.row_filter
{
	background:#EFEFEF;
	min-height: 85px;
    width: 100%;
    margin: 0px;
}
.input_new_note
{
	margin-bottom: 10px;
}
.sort_btn
{
    visibility: hidden;
    display: inline-block !important;
}
.sort_mobile_btn
{
	margin-bottom: 10px;
}
/*Media query for screen size up to 320 px */
@media screen and (max-width :320px)
{
	.patient_list
	{
		.patient_list_control
		{
			background:#ccc;
			margin-top: 0px;
		}
	}
	.sort_btn
    {
    	visibility: visible !important;
    }
}

/*Media query for screen size up to 736px */
@media screen and (max-width :736px)
{
	.patient_list
	{
		.patient_list_control
		{
			background:#ccc;
			margin-top: 0px;
		}
		.control_btn
		{
			width: 103px;
		}
	}

	.patient_detail
	{
		.note_item
		{
			.delete_btn_note, .delete_btn_note_confirm, .delete_btn_note_cancel
			{
				display:  block;
			}
		}
	}

    .list_row
    {
    	position:relative;
    	max-height: 200px;
    	.list_row_btn
    	{
    		opacity: 0.6;
    		margin-top: 0px; 
    		height: 100%;
    		width: 100%;
    		.list_btn
    		{
    			position: absolute;
    		}
    		.list_view_btn
    		{
    			top:-204px;
    		    right: 5px;

    		}
    		.list_delete_btn
    		{
    			bottom:20px;
    			right: 5px;
    		}
    		.list_confirm_btn
    		{
    			right: 50px;
    			bottom: 20px;
    		}
    		.list_cancel_btn
    		{
    			bottom:20px;
    			right: 5px;
    		}
    	}
    	.list_item
    	{
    		text-align: left;
    	}
    }
    .mobile_title
    {
    	margin-left: 10px;
    }
    .row_filter
    {
    	min-height: 220px;
    }
    .sort_btn
    {
    	visibility: visible !important;
    }
}

